.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay_opened {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay__popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 430px;
  padding-bottom: 34px;
  border-radius: 10px;
}

.overlay__popup_content_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 816px;
  max-height: 540px;
}

.overlay__button {
  max-width: 40px;
  position: absolute;
  right: -10%;
  top: -10%;
  background: none;
  border: none;
}

.overlay__button:hover {
  opacity: 50%;
  cursor: pointer;
}

.overlay__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin-top: 7.9%;
  margin-left: 9%;
  margin-bottom: 12.5%;
  font-family: inter;
}

.overlay__form {
  margin-top: 0;
  margin: auto;
  width: 100%;
}

.overlay__image {
  max-width: 816px;
  max-height: 540px;
}

.overlay__caption {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
  margin: 0;
  margin-top: 10px;
}

@media screen and (max-width: 880px) {
  .overlay__popup_content_image {
    max-width: 433px;
  }

  .overlay__image {
    max-width: 433px;
  }
}

@media screen and (max-width: 600px) {
  .overlay__box {
    width: 282px;
    height: 322px;
  }

  .overlay__title {
    font-size: 18px;
  }

  .overlay__button {
    top: -17%;
    right: 1%;
  }
}

@media screen and (max-width: 550px) {
  .overlay__popup_content_image {
    max-width: 320px;
  }

  .overlay__button {
    right: -13%;
    top: -13%;
  }

  .overlay__image {
    max-width: 320px;
  }
}

@media screen and (max-width: 430px) {
  .overlay__popup_content_image {
    max-width: 240px;
  }

  .overlay__button {
    right: -15%;
    top: -15%;
  }

  .overlay__image {
    max-width: 240px;
  }
}
