.popup-image {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-image_opened {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-image__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 816px;
  max-height: 540px;
}

.popup-image__button {
  max-width: 40px;
  position: absolute;
  right: -10%;
  top: -10%;
  background: none;
  border: none;
}

.popup-image__button:hover {
  opacity: 50%;
  cursor: pointer;
}

.popup-image__photo {
  max-width: 816px;
  max-height: 540px;
}

@media screen and (max-width: 880px) {
  .popup-image__box {
    max-width: 433px;
  }

  .popup-image__photo {
    max-width: 433px;
  }
}

@media screen and (max-width: 550px) {
  .popup-image__box {
    max-width: 320px;
  }

  .popup-image__button {
    right: -13%;
    top: -13%;
  }

  .popup-image__photo {
    max-width: 320px;
  }
}

@media screen and (max-width: 430px) {
  .popup-image__box {
    max-width: 240px;
  }

  .popup-image__button {
    right: -15%;
    top: -15%;
  }

  .popup-image__photo {
    max-width: 240px;
  }
}
